# Conexión al peer (gateway gRPC)
FABRIC_PEER_ENDPOINT=localhost:7051
FABRIC_PEER_HOSTNAME_OVERRIDE=peer0.asociacion.productoras.local
FABRIC_MSP_ID=AsociacionMSP
FABRIC_CHANNEL=productoras

# Material crypto del usuario Admin de la Asociacion (para operaciones admin del backend)
FABRIC_TLS_CERT_PATH=../network/organizations/peerOrganizations/asociacion.productoras.local/peers/peer0.asociacion.productoras.local/tls/ca.crt
FABRIC_CERT_PATH=../network/organizations/peerOrganizations/asociacion.productoras.local/users/Admin@asociacion.productoras.local/msp/signcerts
FABRIC_KEY_DIR=../network/organizations/peerOrganizations/asociacion.productoras.local/users/Admin@asociacion.productoras.local/msp/keystore

# HSM stub: en desarrollo usamos un keystore en disco; en producción, PKCS#11/HSM real.
HSM_BACKEND=file
HSM_KEYSTORE_PATH=./.hsm-dev

PORT=3000
